<!DOCTYPE html>
<html>

<head>
    <title>Math Tool</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>

    <div class="container">
        <div class="logo">
            <img src="https://raw.githubusercontent.com/gabopython/IMAGES/refs/heads/main/logo.png" alt="Math Logo">
        </div>
        <div class="title">
            Math
        </div>
        <form action="/" method="get">
            <button type="submit">menu</button>
        </form>
        <div></div>
        {% block content %}
        {% endblock %}

    </div>

</body>

</html>